#footerBand
  %span.spacer
  %span.button
    &copy;
    = @site_name
    =Time.now.year
  %span.divider
  %span.button
    =link_to _('Terms Of Service'), '/info/terms'
  %span.divider
  %span.button
    =link_to _('Privacy Policy'), '/info/privacy'
  %span.divider
  %span.button
    =link_to _('Advertising Opportunities'), '/info/advertising'
  %span.divider
  %span.button
    =link_to _('Contact Us'), '/info/contact'

